apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: traefik
spec:
  valuesContent: |-
    logs:
      general:
        level: DEBUG
      access:
        enabled: true
    ports: 
      udp:
        port: 8053
        expose:
          default: true
        exposedPort: 53
        protocol: UDP
      minecraft:
        port: 25565
        expose:
          default: true
        exposedPort: 25565
        protocol: TCP

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.jarvis.lan`)
        entryPoints: 
          - web
          - websecure