apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jarvis-discord-webhook
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/sync-wave: "-10"
spec:
  refreshInterval: 1m
  secretStoreRef:
    # This name must match the metadata.name in the `SecretStore`
    name: bitwarden-secretsmanager
    kind: ClusterSecretStore
  data:
  - secretKey: webhook_url
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "jarvis-discord-webhook"
      metadataPolicy: None