pihole:
  image:
    repository: adguard/adguardhome
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  fullnameOverride: adguard-home
  name-override: adguard-home
  bootstrapConfig:
    users:
      - name: admin
        password: $2y$10$Hzu0L03WlUOPzc8NmQbaKu2sXADOHnOYBY9XSI4xa0HILycD7cwj6
  tls:
    enabled: false
traefik:
  ingress:
    enabled: true
    domain: pihole.jarvis.lan
