grafana:
  domain: grafana.jarvis.lan
alertmanager:
  domain: alertmanager.jarvis.lan
prometheus:
  domain: prometheus.jarvis.lan

prometheus-stack:
  crds:
    upgradeJob:
      enabled: true
      forceConflicts: true
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  defaultRules:
    disabled:
      KubeProxyDown: true
      KubeSchedulerDown: true 
    rules:
      kubeControllerManager: false

  alertmanager:
    alertmanagerSpec:
      configSecret: alertmanager-secrets
      secrets:
        - alertmanager-secrets
    
  grafana:
    admin:
      existingSecret: "grafana-admin-creds"
      userKey: "grafana-admin-login"
      passwordKey: "grafana-admin-password"