grafana:
  domain: grafana.jarvis.lan
alertmanager:
  domain: alertmanager.jarvis.lan
prometheus:
  domain: prometheus.jarvis.lan

prometheus-stack:
  crds:
    upgradeJob:
      enabled: true
      forceConflicts: true
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  defaultRules:
    disabled:
      KubeProxyDown: true
      KubeSchedulerDown: true 
    rules:
      kubeControllerManager: false

  alertmanager:
    alertmanagerSpec:
      secrets:
        - alertmanager-secrets
    config:
      route:
        receiver: 'discord'
        group_by: ['alertname']
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 3h
        routes:
        - receiver: 'discord'
      receivers:
      - name: 'discord'
        discord_configs:
        - webhook_url_file: /etc/alertmanager/secrets/alertmanager-secrets/discord-url
    
  grafana:
    admin:
      existingSecret: "grafana-admin-creds"
      userKey: "grafana-admin-login"
      passwordKey: "grafana-admin-password"