adguard-home:
  image:
    repository: adguard/adguardhome
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  fullnameOverride: adguard-home
  name-override: adguard-home
  bootstrapConfig:
    users:
      - name: admin
        password: $2y$10$9hwVuoVgS9oR8e/fbW5Nd.IuXWDJsOeMVaB6XfaGxUh6HvhU99ms.
  tls:
    enabled: false
traefik:
  ingress:
    enabled: true
    domain: adguardhome.jarvis.lan
